# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

# Optional (for preview image support)
#GOOGLE_APPLICATION_CREDENTIALS=

# Optional (for preview image support)
#GCLOUD_PROJECT=

# Optional (for preview image support)
#FIREBASE_COLLECTION_IMAGES=

# Optional (for fathom analytics)
#NEXT_PUBLIC_FATHOM_ID=

# Optional (for rendering tweets efficiently)
TWITTER_ACCESS_TOKEN="AAAAAAAAAAAAAAAAAAAAAMivZQEAAAAAhdtba8VOSyC0zX7fNk7hwky%2BGE4%3D5vfqWMBu68Gjpu8uByFKVo9HUlRlDCm6z7AhRkJ0l1w0G2ddxD"
